<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="lsep" />
		<setting id="nzbhydra_enabled" label="30125" type="bool" default="true" />
		<setting id="hydra_url" label="30002" type="text" default="http://localhost:5076" />
		<setting id="hydra_api_key" label="30003" type="text" default="" option="hidden" />
		<setting label="30113" type="action" action="RunPlugin(plugin://plugin.video.nzbdav/test_hydra)" option="close" />
		<setting label="30126" type="lsep" />
		<setting id="prowlarr_enabled" label="30127" type="bool" default="false" />
		<setting id="prowlarr_host" label="30128" type="text" default="http://localhost:9696" />
		<setting id="prowlarr_api_key" label="30003" type="text" default="" option="hidden" />
		<setting label="30129" type="action" action="RunPlugin(plugin://plugin.video.nzbdav/test_prowlarr)" option="close" />
		<setting id="prowlarr_indexer_ids" label="30130" type="text" default="" />
		<setting label="30004" type="lsep" />
		<setting id="nzbdav_url" label="30005" type="text" default="http://localhost:3000" />
		<setting id="nzbdav_api_key" label="30003" type="text" default="" option="hidden" />
		<setting label="30114" type="action" action="RunPlugin(plugin://plugin.video.nzbdav/test_nzbdav)" option="close" />
		<setting label="30006" type="lsep" />
		<setting id="webdav_url" label="30007" type="text" default="" />
		<setting id="webdav_username" label="30008" type="text" default="" />
		<setting id="webdav_password" label="30009" type="text" default="" option="hidden" />
	</category>
	<category label="30010">
		<setting label="30011" type="action" action="RunPlugin(plugin://plugin.video.nzbdav/install_player)" />
	</category>
	<category label="30012">
		<setting label="30013" type="lsep" />
		<setting id="filter_2160p" label="30014" type="bool" default="true" />
		<setting id="filter_1080p" label="30015" type="bool" default="true" />
		<setting id="filter_720p" label="30016" type="bool" default="true" />
		<setting id="filter_480p" label="30017" type="bool" default="true" />
		<setting label="30018" type="lsep" />
		<setting id="filter_hdr10" label="30019" type="bool" default="true" />
		<setting id="filter_hdr10plus" label="30020" type="bool" default="true" />
		<setting id="filter_dolby_vision" label="30021" type="bool" default="true" />
		<setting id="filter_hlg" label="30022" type="bool" default="true" />
		<setting id="filter_sdr" label="30023" type="bool" default="true" />
		<setting label="30024" type="lsep" />
		<setting id="filter_atmos" label="30025" type="bool" default="true" />
		<setting id="filter_truehd" label="30026" type="bool" default="true" />
		<setting id="filter_dtshd_ma" label="30027" type="bool" default="true" />
		<setting id="filter_dtsx" label="30028" type="bool" default="true" />
		<setting id="filter_ddplus" label="30029" type="bool" default="true" />
		<setting id="filter_dd" label="30030" type="bool" default="true" />
		<setting id="filter_aac" label="30031" type="bool" default="true" />
		<setting label="30032" type="lsep" />
		<setting id="filter_hevc" label="30033" type="bool" default="true" />
		<setting id="filter_avc" label="30034" type="bool" default="true" />
		<setting id="filter_av1" label="30035" type="bool" default="true" />
		<setting id="filter_vp9" label="30036" type="bool" default="true" />
		<setting id="filter_mpeg2" label="30037" type="bool" default="true" />
		<setting label="30038" type="lsep" />
		<setting id="filter_english" label="30039" type="bool" default="true" />
		<setting id="filter_spanish" label="30040" type="bool" default="true" />
		<setting id="filter_french" label="30041" type="bool" default="true" />
		<setting id="filter_german" label="30042" type="bool" default="true" />
		<setting id="filter_italian" label="30043" type="bool" default="true" />
		<setting id="filter_portuguese" label="30044" type="bool" default="true" />
		<setting id="filter_dutch" label="30045" type="bool" default="true" />
		<setting id="filter_russian" label="30046" type="bool" default="true" />
		<setting id="filter_japanese" label="30047" type="bool" default="true" />
		<setting id="filter_korean" label="30048" type="bool" default="true" />
		<setting id="filter_chinese" label="30049" type="bool" default="true" />
		<setting id="filter_arabic" label="30050" type="bool" default="true" />
		<setting id="filter_hindi" label="30051" type="bool" default="true" />
	</category>
	<category label="30052">
		<setting label="30053" type="lsep" />
		<setting id="filter_release_group" label="30054" type="text" default="" visible="false" />
		<setting id="filter_exclude_release_group" label="30055" type="text" default="" visible="false" />
		<setting label="30054" type="action" action="RunPlugin(plugin://plugin.video.nzbdav/configure_preferred_groups)" option="close" />
		<setting label="30055" type="action" action="RunPlugin(plugin://plugin.video.nzbdav/configure_excluded_groups)" option="close" />
		<setting label="30056" type="lsep" />
		<setting id="filter_min_size" label="30057" type="number" default="0" />
		<setting id="filter_max_size" label="30058" type="number" default="0" />
		<setting label="30059" type="lsep" />
		<setting id="filter_exclude_keywords" label="30060" type="text" default="" />
		<setting id="filter_require_keywords" label="30061" type="text" default="" />
	</category>
	<category label="30062">
		<setting id="sort_order" label="30063" type="enum" default="0" lvalues="30077|30078|30079|30080|30081" />
		<setting id="max_results" label="30064" type="number" default="25" />
		<setting label="30065" type="lsep" />
		<setting id="auto_select_best" label="30066" type="bool" default="false" />
	</category>
	<category label="30067">
		<setting label="30068" type="lsep" />
		<setting id="poll_interval" label="30069" type="number" default="5" />
		<setting id="download_timeout" label="30070" type="number" default="3600" />
		<setting id="submit_timeout" label="30122" type="number" default="30" />
		<setting label="30071" type="lsep" />
		<setting id="cache_ttl" label="30072" type="number" default="300" />
		<setting label="30073" type="lsep" />
		<setting id="stream_auto_retry" label="30074" type="bool" default="true" />
		<setting id="stream_max_retries" label="30075" type="number" default="3" />
		<setting id="stream_retry_delay" label="30076" type="number" default="5" />
		<setting label="30118" type="lsep" />
		<setting id="proxy_convert_subs" label="30119" type="bool" default="true" />
		<setting id="force_remux_threshold_mb" label="30123" type="number" default="20000" />
		<setting id="force_remux_mode" label="30140" type="enum" default="0" lvalues="30141|30142|30152" />
		<setting label="30143" type="lsep" />
		<setting id="strict_contract_mode" label="30144" type="enum" default="1" lvalues="30145|30146|30147" />
		<setting id="density_breaker_enabled" label="30148" type="bool" default="false" />
		<setting id="zero_fill_budget_enabled" label="30149" type="bool" default="true" />
		<setting id="retry_ladder_enabled" label="30150" type="bool" default="true" />
		<setting id="send_200_no_range" label="30151" type="bool" default="false" />
	</category>
</settings>
